<h1>showe page</h1>


<h1>
  <a href="/blog/<%= post._id%>/comments/new">dodaj komętarz...</a>
</h1>

<p>
  <%= post.title %> -
    <%= post.description %> -
      <%= post.content %>
</p>

<% post.comments.forEach(function(comment){ %>

  <p>
    <%= comment.author %> -

  </p>

  <p>
    <%= comment.text %> -
  </p>

  <% }) %>